.form-container {
  background-color: lightgrey;
  width: 300px;
  border: 5px grey;
  padding: 50px;
  margin: auto;
  -webkit-box-shadow: 7px 14px 16px 6px rgba(0, 0, 0, 0.94);
  box-shadow: 7px 14px 16px 6px rgba(0, 0, 0, 0.94);
}

.submit {
  margin-top: 10px;
}

.card-image {
  width: 318px;
  height: 180px;
}

.card-wraper {
  width: 50%;
}
